
<header class="cd-panel__header">
    <h1 style="color:#3276b1;">เพิ่มกลุ่มวัสดุ</h1>
    <a onclick="ClosePanel()" class="cd-panel__close js-cd-close">Close</a>
</header>
<div class="cd-panel__container">
    <div class="cd-panel__content">
        <form class="form-horizontal PersonAddForm" id="PersonAddForm">
            <fieldset>
                <input type="text" name="Id" value="" hidden />

                <legend>ข้อมูลกลุ่ม <i class="fa fa-arrow-down"></i></legend>
                <div class="row">

                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-md-3 control-label">ชื่อกลุ่ม<span class="txt-color-red">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control " type="text" id="insertG" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                        <button type="button" class="btn btn-success" onclick="AddPanel111()">เพิ่มกลุ่ม</button>
                        <button class="btn btn-danger" onclick="ClosePanel();">ยกเลิก</button>
                    </div>
                </div>
            </fieldset>

        </form>

    </div>
</div>




<script>
    function AddPanel111() {
        $('#content_ajaxloader').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_confirmsave", "Material")',
                dataType: 'html',
                data: {},
                success: function (result) {
                    $('#Modal_Content').html('');
                    $('#Modal_Content').html(result);
                    $('#Modal').modal('show');
                    $('#content_ajaxloader').hide();
                }
            });
    }

   


    function OnSubmit() {
        var inG = new Object();
        inG.group_name = document.getElementById("insertG").value;

         $("#content_ajaxloader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("CreateGroup", "Material")',
            data: JSON.stringify(inG),
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (response) {
                if (response.output == 0) {
                    alert('รหัสวัสดุ มีบันทึกอยู่แล้ว');

                    $("#content_ajaxloader").fadeOut("fast");
                    return;
                }
                console.log("insert complete");
                console.log(response.output1);

                $("#content_ajaxloader").fadeOut("fast");
                alert("บันทึกเรียบร้อย")
                window.location.href = "/material/";
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
         })

    }

</script>