@{
    CategorySQLlist result = Model;

}
<option id="dontcate" disabled selected value="">ไม่พบประเภทวัสดุ</option>
<option @*style="display:none*@" id="selcatall" value="">ทั้งหมด</option>
@foreach (var itemcategory in result.Categorylist)
{
    <option value="@itemcategory.category_id" name="opcate" @*style="display:none"*@ id="@itemcategory.group_id">@itemcategory.category_name</option>
}