@{
    CategorySQLlist result = Model;

}
<option id="dontcate" disabled selected value="">เลือกประเภทวัสดุ</option>
<option id="selcatall" value="">ทั้งหมด</option>
@foreach (var itemcategory in result.Categorylist)
{
    <option value="@itemcategory.category_id" name="opcate"  id="@itemcategory.group_id">@itemcategory.category_name</option>
}