@{
    List<UomSQL> uomSQL = Model;
}



<header class="cd-panel__header">
    <h1 style="color:#3276b1;">จัดการหน่วยวัสดุ</h1>
    <a onclick="ClosePanel()" class="cd-panel__close js-cd-close">Close</a>
</header>
<div class="cd-panel__container">
    <div class="cd-panel__content">
        <div class="row margin-left-10">

            <div class="row col-lg-8 col-md-7 col-sm-7 col-xs-7">
                <label class="checkbox-inline ">
                    <input type="checkbox" id="statustableU" class="checkbox style-0" onclick="showunactiveUom()">
                    <span>แสดงรายการยกเลิกใช้งาน</span>
                </label>
            </div>

            <div class="row col-lg-3 col-md-4 col-sm-4 col-xs-4  margin-left-15 margin-right-0 pull-right">
                <a class="btn btn-success glyphicon glyphicon-plus" onclick="openmodalcreateU();">เพิ่มหน่วยใหม่</a>
            </div>



        </div>

        <div class="table-responsive margin-top-10">
            <style>
                .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
                    background-color: #8adafe;
                }
            </style>

            <div id="partialtableuom"></div>
            
        </div>
    </div>
</div>

<script>
            function showunactiveUom() {
                var statustableU = document.getElementById("statustableU").checked;
                console.log(statustableU)
                if (statustableU == false) {
                    statustableU = true;
                } else if (statustableU == true) {
                    statustableU = false;
                }
                $("#content_ajaxloader").show();
                console.log(statustableU+"111111111111")
                $("#partialtableuom").load('@Url.Action("_uomtable", "Material")', { active: statustableU }, function (result) {
                    //MessageAlert("การค้นหา", "กำลังโหลดข้อมูล", "rgb(115, 158, 115)", "fa fa-check fadeInLeft animated");
                $('#content_ajaxloader').fadeOut();
            });

               
            }
</script>

<script>


    function ClosePanel() {
        $(".cd-panel").removeClass("cd-panel--is-visible"); //ปิดแถบ right Panel
    }
    function openmodalcreateU() {
        $('#content_ajaxloader').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_createuom", "Material")',
                dataType: 'html',
                data: {},
                success: function (result) {
                    $('#Modal_Content').html('');
                    $('#Modal_Content').html(result);
                    $('#Modal').modal('show');
                    $('#content_ajaxloader').hide();
                }
            });
    }

    function openmodaleditU(editidU) {
        console.log(editidU);
        var idedit = editidU;
        $('#content_ajaxloader').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_edituom", "Material")',
                dataType: 'html',
                data: {id: idedit},
                success: function (result) {
                    $('#Modal_Content').html('');
                    $('#Modal_Content').html(result);
                    $('#Modal').modal('show');
                    $('#content_ajaxloader').hide();
                }
            });
    }

</script>


<script type="text/javascript">
        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            console.log("ready1!");
            showunactiveUom();
        })

</script>

