
<style>
    #Msg_ajaxloader {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255,0.5 ) url('/img/loadingclock.gif') 50% 50% no-repeat;
    }


    body:not(.menu-on-top).desktop-detected {
        min-height: 0px !important;
    }

    .desktop-detected .inbox-body .table-wrap {
        min-height: 770px !important;
    }

    .status .comments li {
        border-bottom: 1px solid rgba(0,0,0,0);
        display: block;
        padding: 15px 0 15px 40px;
        position: relative;
    }

    .classli:hover {
        background: #ddd;
        cursor: pointer;
    }

    label:hover {
        cursor: pointer;
    }

    .carousel-indicators li {
        border-color: #999;
        background-color: #ccc;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 15;
        /* width: 60%; */
        margin-left: -30%;
        padding-left: 0;
        list-style: none;
        text-align: center;
    }

    .MessageCenter {
        padding: 12px 10px 8px 10px !important;
    }


    @@media (min-width: 1332px) {
        .col-lg-3 {
            width: 33.33%;
        }

        .col-lg-6 {
            width: 66.66%;
        }
    }

    @@media (min-width: 1500px) {
        .col-lg-3 {
            width: 25%;
        }

        .col-lg-6 {
            width: 50%;
        }
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }

    .fix-iconsize {
        font-size: 40px;
        width: 40px;
        height: 40px;
        padding-top: 10px;
    }

    @@media (max-width: 769px) {
        .fix-iconsize {
            font-size: 40px;
            width: 40px;
            height: 40px;
            padding-top: 10px;
        }

        .home-title {
            display: none;
        }
    }

    .form-group {
        margin-top: 10px;
    }

    .fix-margintop {
        margin-bottom: 40px;
    }

    .form-horizontal .form-group {
        margin-left: 20px !important;
        margin-right: 0px !important;
    }

    .fix-flaticon {
        font-size: 10px;
    }
</style>
<div id="content" style="opacity: 1;background-color:white;min-height:82vh;">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">

        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
        </div>
    </section>
</div>
