

<header class="cd-panel__header">
    <h1 style="color:#3276b1;">จัดการกลุ่มวัสดุ</h1>
    <a onclick="ClosePanel()" class="cd-panel__close js-cd-close">Close</a>
</header>
<div class="cd-panel__container">
    <div class="cd-panel__content">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Firstname</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Anna</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<script>
    function AddPanel111() {
        $('#content_ajaxloader').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_confirmsave", "Material")',
                dataType: 'html',
                data: {},
                success: function (result) {
                    $('#Modal_Content').html('');
                    $('#Modal_Content').html(result);
                    $('#Modal').modal('show');
                    $('#content_ajaxloader').hide();
                }
            });
    }




    function OnSubmit() {
        var inG = new Object();
        inG.group_name = document.getElementById("insertG").value;

         $("#content_ajaxloader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("CreateGroup", "Material")',
            data: JSON.stringify(inG),
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (response) {
                if (response.output == 0) {
                    alert('รหัสวัสดุ มีบันทึกอยู่แล้ว');

                    $("#content_ajaxloader").fadeOut("fast");
                    return;
                }
                console.log("insert complete");
                console.log(response.output1);

                $("#content_ajaxloader").fadeOut("fast");
                alert("บันทึกเรียบร้อย")
                window.location.href = "/material/";
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
         })

    }

</script>