<div>
    @*<h1 class="txt-color-red login-header-big">ระบบชำระเงินผู้รับเหมา</h1>*@
    @*<div class="hero">

            <img src="~/Content/img/kkn.png" alt="" style="width:600px" class="img-responsive">
        </div>*@

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <a class="footer-logo">บริษัท กาญจน์กนก พร็อพเพอร์ตี้ จำกัด</a>
            <p>
                88/8 หมู่ 2 ต.หนองผึ้ง อ.สารภี จ.เชียงใหม่ 50140
            </p>
            <p>
                โทร. 053-325890-1 แฟกซ์ 053-325899
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <a class="footer-logo">CHIANG MAI #1 REAL-ESTATE DEVELOPER</a>
            <p>
                053 32 5890 #113 .
            </p>
        </div>
    </div>

</div>



