@*<h5 class="text-center">Company facebook</h5>*@
<ul class="list-inline text-center">
    @*<li>
        <a title="เฟสบุคบริษัท กาญจน์กนกพร็อพเพอร์ตี้ จำกัด" href="https://www.facebook.com/KarnkanokProperty/?fref=ts" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
    </li>*@
    @*<li>
        <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
        <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
    </li>*@
</ul>